@model MVCGoTime.Models.InformationAboutFootball
@*//Griffin said to do the line above this.*@


@{
    ViewBag.Title = "About";
}
<h2>About Sooners Football</h2>     @*Had to erase what was here and replace it*@
<h3>About the University of Oklahoma Football</h3>      @*Had to erase what was here and replace it*@

<p>OU Football is coached by <b>@Model.HeadCoach</b>. The sooners have a bowl record of <b>@Model.BowlRecord</b> and have <b>@Model.YearNationalTitle</b> in their history.</p>

@*Added stuff inside the <p> brackets*@
